<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoodStock</title>
    <style>
        body {
          font-family: 'Trebuchet MS', sans-serif;
        }
        #main_container {
            width: 100vw;
            height: 100vh;
        }
        #grad {
            background-image: linear-gradient(to right, red , yellow);
        }
        
    </style>
</head>
<body>
    <div id="main_container"style="background-image: linear-gradient(to right, red , yellow);">
        <h1>Hello World!</h1>
        <h2>Welcome to FlaskApp!</h2>
    </div>
    
</body>
</html> 