body{
    background-image: linear-gradient(to right, blue , yellow);
}
textarea{
    resize: none;
    
}
.landing-page {
    font-family: 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
}
#tweet-predict-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#textBoxButton{
    margin-left: 20px;
}